<ion-header>
  <ion-toolbar>
    <ion-title>task-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Time Allocated</ion-label>
            <ion-row>
              <ion-col>
                <ion-label position="stacked">Hour</ion-label>
                <ion-input type="number" formControlName="h" min=0 max=24></ion-input>
              </ion-col>
              <ion-col>
                <ion-label position="stacked">Minute</ion-label>
                <ion-input type="number" formControlName="m" min=0 max=59></ion-input>
              </ion-col>
              <ion-col>
                <ion-label position="stacked">Seconds</ion-label>
                <ion-input type="number" formControlName="s" min=0 max=59></ion-input>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Date of Task</ion-label>
            <ion-input type="date" formControlName="date"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Visible to friends</ion-label>
            <ion-checkbox formControlName="visibleToFriends"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button type="submit" expand="block" >{{taskForm.invalid ? 'Make sure all fields
        are valid!' :'Create task'}}</ion-button>
    </ion-grid>
  </form>
</ion-content>