<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="goToAddFriends()">
    Add Friends
  </ion-button>
  <ion-list *ngFor="let friend of friends">
    <ion-item-sliding>
      <ion-item (click)="goToFriendProfile(friend.docId)">
        <ion-label>
          <h2>{{friend.displayName}}</h2>
          <h3>Status: {{friend.status}}</h3>
        </ion-label>
        <ion-badge>
          Current streak: {{friend.currentStreak}}
        </ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteFriend(friend.friendId, friend.docId, friend.displayName)">
          <ion-icon slot="start" name="archive"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-text *ngIf="!friends || friends.length === 0" class="ion-text-center">
    <p>You have no one in your friendlist. Add some now!</p>
  </ion-text>
</ion-content>