<ion-header>
  <ion-toolbar>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="taskDetails">
  <ion-text class="ion-text-center">
    <h1>{{taskDetails.title}}</h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <h1>{{taskDetails.description}}</h1>
  </ion-text>
  <ion-text class="ion-text-center" *ngIf="timeAllocated">
    <h1>Time allocated: {{timeAllocated | time}}</h1>
  </ion-text>
  <ion-button (click)="timerRunning ? stopTimer() : startTimer()">{{timerRunning ? 'Pause Task' : 'Start Task'}}
  </ion-button>
</ion-content>