<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    <h1>{{viewTitle}}</h1>
  </ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
        <calendar calendarMode="month" [currentDate]="currentDate" (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)" class="calendar" [showEventDetail]="false"
          formatMonthTitle="MMMM yyyy" [preserveScrollPosition]='true'></calendar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button type="button" expand="block" [routerLink]="['/create']" class="ion-text-start">
    New Task
  </ion-button>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        Tasks for {{selectedDate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let task of tasks$ | async">
    <ion-item-sliding>
      <ion-item [color]="task.currentTask ? 'primary' : ''" (click)="onTaskClick(task.id)">
        <ion-label>
          <h2>{{task.title}}</h2>
          <p>{{task.description}}</p>
        </ion-label>
        <ion-badge [color]="task.currentTask ? 'light' : 'primary'">
          {{task.currentTask ? 'Active' : task.timeAllocated | time}}
        </ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="warning" (click)="editTask(task.id)">
          <ion-icon slot="start" name="clipboard"></ion-icon>
          Edit
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task.id)">
          <ion-icon slot="start" name="archive"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="(tasks$ | async)?.length === 0">
    <p>No tasks yet!</p>
  </ion-item>

</ion-content>