<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>
    <h1>{{viewTitle}}</h1>
  </ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
        <calendar calendarMode="month" [currentDate]="calendar.currentDate"
          (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" class="calendar"
          [showEventDetail]="false" formatMonthTitle="MMMM yyyy"></calendar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button type="button" expand="block" [routerLink]="['..', 'create']" class="ion-text-start">
    New Task
  </ion-button>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        Tasks for {{selectedDate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let task of tasks$ | async">
    <ion-item (click)="onTaskClick(task.id)">
      <ion-label>
        <h2>{{task.title}}</h2>
        <h3 *ngIf="!task.currentTask">{{task.timeAllocated | time}}</h3>
        <h3 *ngIf="task.currentTask">Active Task</h3>
        <p>{{task.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="(tasks$ | async)?.length === 0">
    <p>No tasks yet!</p>
  </ion-item>

</ion-content>