<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks/all">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>All Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks/current">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Current Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="square"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>