<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails$ | async as userDetails" class="ion-padding">
  <ion-card class="ion-padding" *ngIf="!userDetails.loading">
    <img src="https://via.placeholder.com/150" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{userDetails.res.displayName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Status: {{userDetails.res.status}}
      </ion-item>
      <ion-item>
        Highest streak: {{userDetails.res.highestStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        Current streak: {{userDetails.res.currentStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label class="label">Friend ID:</ion-label>
        <ion-badge>
          {{userDetails.res.friendId}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
    <ion-button class="ion-margin-vertical" expand="block" type="button" color="primary" (click)="goToEditDetails()">
      Edit
      details</ion-button>
    <ion-button expand="block" type="button" color="danger" (click)="logout()">Logout</ion-button>
  </ion-card>
  <ion-spinner *ngIf="userDetails.loading" name="lines" class="fixed-center"></ion-spinner>
</ion-content>