<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails$ | async as userDetails" class="ion-padding">
  <ion-card class="ion-padding" *ngIf="!userDetails.loading">
    <ion-grid *ngIf="profilePicUrl | async as profilePicUrl"
      style="height: 275px; max-width: 300px; border: grey 2px solid; border-radius: 5px; display: flex; justify-content: center; align-items: center;"
      class="ion-text-center">
      <img *ngIf="profilePicUrl.res && !profilePicUrl.loading" [src]="profilePicUrl.res"
        style="width: 100%; height: 100%; object-fit: cover;" />
      <p *ngIf="!profilePicUrl.res && !profilePicUrl.loading">You have not set a profile
        picture!</p>
    </ion-grid>

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{userDetails.res.displayName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Status: {{userDetails.res.status}}
      </ion-item>
      <ion-item>
        Highest Streak: {{userDetails.res.highestStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        Current Streak: {{userDetails.res.currentStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label class="label">Friend ID: <strong>{{userDetails.res.friendId}}</strong></ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button class="ion-margin-vertical" expand="block" type="button" color="primary" (click)="goToEditDetails()">
      Edit
      details</ion-button>
    <ion-button expand="block" type="button" color="danger" (click)="logout()">Logout</ion-button>
  </ion-card>
  <ion-spinner *ngIf="userDetails.loading" name="lines" class="fixed-center"></ion-spinner>
</ion-content>