<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails$ | async as userDetails" class="ion-padding">
  <ion-card class="ion-padding" *ngIf="!userDetails.loading">
    <ion-grid class="ion-text-center ion-justify-content-center ion-align-items-center">
      <ion-item *ngIf="profilePicUrl | async as profilePicUrl">
        <img *ngIf="profilePicUrl.res && !profilePicUrl.loading" [src]="profilePicUrl.res" />
        <ion-spinner *ngIf="profilePicUrl.loading" name="lines" class="fixed-center"></ion-spinner>
        <p class="ion-text-center" *ngIf="!profilePicUrl.res && !profilePicUrl.loading">You have not set a profile
          picture!</p>
      </ion-item>
    </ion-grid>

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{userDetails.res.displayName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Status: {{userDetails.res.status}}
      </ion-item>
      <ion-item>
        Highest Streak: {{userDetails.res.highestStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        Current Streak: {{userDetails.res.currentStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label class="label">Friend ID: <strong>{{userDetails.res.friendId}}</strong></ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button class="ion-margin-vertical" expand="block" type="button" color="primary" (click)="goToEditDetails()">
      Edit
      details</ion-button>
    <ion-button expand="block" type="button" color="danger" (click)="logout()">Logout</ion-button>
  </ion-card>
  <ion-spinner *ngIf="userDetails.loading" name="lines" class="fixed-center"></ion-spinner>
</ion-content>