<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button class="ion-margin-top" type="submit" expand="block">Sign Up
      </ion-button>
      <ion-button class="ion-margin-top" type="button" expand="block" [routerLink]="['/login']">Back to log in
      </ion-button>
    </ion-grid>
  </form>
</ion-content>