<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=#></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-item *ngIf="!base64Image && initialPictureURL | async as initialPictureURL">
        <img *ngIf="initialPictureURL.res && !initialPictureURL.loading" [src]="initialPictureURL.res" />
        <ion-spinner *ngIf="initialPictureURL.loading" name="lines" class="fixed-center"></ion-spinner>
        <p class="ion-text-center" *ngIf="!initialPictureURL.res && !initialPictureURL.loading">You have not set a
          profile
          picture!</p>
      </ion-item>
      <img *ngIf="base64Image" [src]="base64Image" />
      <ion-button class="ion-margin-vertical" expand="block" type="button" (click)="changeProfilePictureActionSheet()">
        Change Profile Picture</ion-button>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Display Name</ion-label>
            <ion-input type="text" formControlName="displayName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Status</ion-label>
            <ion-textarea type="text" formControlName="status"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button class="ion-margin-top" type="submit" expand="block">Save Changes</ion-button>
    </ion-grid>
  </form>
</ion-content>