<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Friend's Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails && !isLoading" class="ion-padding">
  <ion-card class="ion-padding">
    <ion-grid
      style="height: 275px; max-width: 300px; border: grey 2px solid; border-radius: 5px; display: flex; justify-content: center; align-items: center;"
      class="ion-text-center">
      <img *ngIf="profilePicUrl" [src]="profilePicUrl" style="width: 100%; height: 100%; object-fit: cover;" />
      <p *ngIf="!profilePicUrl">User has not set a profile
        picture!</p>
    </ion-grid>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{userDetails.displayName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Status: {{userDetails.status}}
      </ion-item>
      <ion-item>
        Highest Streak: {{userDetails.highestStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        Current Streak: {{userDetails.currentStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label class="label">Friend ID: <strong>{{userDetails.friendId}}</strong></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Visible Tasks
      </ion-card-title>
    </ion-card-header>
    <ion-list *ngFor="let task of friendTasks">
      <ion-item>
        <ion-label>
          <h2>{{task.title}}</h2>
          <h3 *ngIf="!task.currentTask">{{task.timeAllocated | time}}</h3>
          <h3 *ngIf="task.currentTask">Active Task</h3>
          <p>{{task.description}}</p>
        </ion-label>
        <ion-badge>{{task.date.seconds * 1000 | date}}
        </ion-badge>
      </ion-item>
    </ion-list>
    <p class="ion-text-center" *ngIf="!friendTasks || friendTasks.length === 0">No visible tasks.</p>
  </ion-card>
</ion-content>
<ion-spinner *ngIf="isLoading" name="lines" class="fixed-center"></ion-spinner>