<ion-header>
  <ion-toolbar>
    <ion-title>Friend's Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails && !isLoading" class="ion-padding">
  <ion-card class="ion-padding">
    <img src="https://via.placeholder.com/150" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        {{userDetails.displayName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        Status: {{userDetails.status}}
      </ion-item>
      <ion-item>
        Highest streak: {{userDetails.highestStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        Current streak: {{userDetails.currentStreak}}
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label class="label">Friend ID:</ion-label>
        <ion-badge>
          {{userDetails.friendId}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-spinner *ngIf="isLoading" name="lines" class="fixed-center"></ion-spinner>