<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current Task
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="taskDetails && !isLoading" class="ion-padding">
  <ion-text class="ion-text-center">
    <h1>{{taskDetails.title}}</h1>
  </ion-text>
  <ion-card class="ion-padding">
    <ion-item>
      <ion-label position="stacked" class="label">Description:</ion-label>
      <ion-text>
        <h3>{{taskDetails.description}}</h3>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="label">Remaining time:</ion-label>
      <ion-text>
        <h3 *ngIf="timeAllocated !>= 0">{{timeAllocated | time}}</h3>
      </ion-text>
    </ion-item>
  </ion-card>
  <ion-button [color]="timerRunning? 'danger' : 'success'" class="ion-margin-top" expand="block" type="button"
    (click)="timerRunning ? stopTimer() : startTimer()">
    {{timerRunning ? 'Pause Task' : 'Start Task'}}
  </ion-button>
  <ion-button color="primary" class="ion-margin-top" expand="block" type="button"
    (click)="completeTask(taskDetails.id,taskDetails.date)">
    Complete task
  </ion-button>
</ion-content>
<ion-content *ngIf="!taskDetails && !isLoading">
  <ion-text class="ion-text-center fixed-center">
    <h1>No current task, start a task to set it to your current task!</h1>
  </ion-text>
</ion-content>

<ion-spinner *ngIf="isLoading" name="lines" class="fixed-center"></ion-spinner>