<ion-header>
  <ion-toolbar>
    <ion-title>Add Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addFriendForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-item>
        <ion-label position="stacked">Friend ID</ion-label>
        <ion-input type="text" formControlName="friendId"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">
        Send request
      </ion-button>
    </ion-grid>
  </form>
  <ion-list *ngFor="let friendRequestDetails of friendRequests">
    <ion-item>
      <ion-label>
        <h2>{{friendRequestDetails.displayName}}</h2>
        <ion-chip color="success"
          (click)="acceptFriendRequest(friendRequestDetails.friendRequestDocId,friendRequestDetails.displayName)">
          <ion-label>Accept</ion-label>
          <ion-icon name="checkmark"></ion-icon>
        </ion-chip>
        <ion-chip color="danger"
          (click)="declineFriendRequest(friendRequestDetails.friendRequestDocId, friendRequestDetails.displayName)">
          <ion-label>Decline</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>